extends _bootstrap
append styles
    // Custom styles for this template
    link(href='../css/navbar-static-top.css', rel='stylesheet')
    script(type='text/javascript', src='javascripts/instascan.min.js')
block body
    +navbar-static("Project Wantok","navbar")
        +nav_item("https://192.168.0.2:3000","active") Home
        +nav_item("https://192.168.0.2:3000") Tourist
        +nav_item("https://192.168.0.2:3000/carrier") Carrier
        +nav_item_dropdown("#")(label="Dropdown")
            +nav_item("https://192.168.0.2:3000/admin/villages") Admin
    .container
        center
            video#preview
            script(type='text/javascript').
                let scanner = new Instascan.Scanner({ video: document.getElementById('preview'), scanPeriod: 5, mirror: true });
                scanner.addListener('scan', function (content) {
                    console.log('hello');

                });
                Instascan.Camera.getCameras().then(function (cameras) {
                    if (cameras.length > 0) {
                        scanner.start(cameras[0]);
                    } else {
                        console.error('No cameras found.');
                    }
                }).catch(function (e) {
                    console.error(e);
                });