extends _bootstrap

append styles
    // Custom styles for this template
    link(href='../css/navbar-static-top.css', rel='stylesheet')
    title #{vid}
block  body
    .container
        // Main component for a primary marketing message or call to action
        .jumbotron
            center
                h1 Brand Code Generation
                table.noborder(style='width:100%')
                    tbody
                        tr
                            .image-block
                                img.className#IdName(src="../images/brands/qr_vil_01.png" alt="viliage01 image")
                        tr
                            td
                                form#uploadForm(ref='uploadForm', action='/qrcode/update', method='post', enctype='multipart/form-data')
                                    input(type='file', name='sampleFile')
                                    input(type='submit')
                            td


