doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(charset='utf-8')
        title Upload images to server using Node JS
        script(src='../javascripts/jquery-3.1.1.min.js')
        script(src='../javascripts/jquery.form.min.js')

    body
        form#uploadForm(ref='uploadForm', action='test/upload', method='post', enctype='multipart/form-data')
            input(type='file', name='sampleFile')
            input(type='submit')
