extends _bootstrap
append styles
    // Custom styles for this template
    link(href='https://192.168.0.2:3000/css/navbar-static-top.css', rel='stylesheet')
block body
    +navbar-static("Project Wantok","navbar")
        +nav_item("https://192.168.0.2:3000","active") Home
        +nav_item("https://192.168.0.2:3000") Tourist
        +nav_item("https://192.168.0.2:3000/carrier") Carrier
        +nav_item_dropdown("#")(label="Dropdown")
            +nav_item("https://192.168.0.2:3000/admin/villages") Admin
    .container
        .jumbotron
            h1= village.name
            center
                img.img-rounded(src=''+ village.brand_image,"brand image", width=250, height=250)
            p= village.summary_text
            p= 'Location: (' + village.latitude + ', ' + village.longitude +')'
            p= village.published_date
            a.btn.btn-lg.btn-primary(href='/vr/' + village._id, role='button') VR Tour »
