extends _bootstrap
append styles
    // Custom styles for this template
    link(href='../css/navbar-static-top.css', rel='stylesheet')

block body
    // Static navbar
    +navbar-static("Project Wantok","navbar")
        +nav_item("#","active") Home
        +nav_item("#") About
        +nav_item("#") Contact
        +nav_item_dropdown("#")(label="Dropdown")
            +nav_item("#") Action
            +nav_item("#") Another action
            +nav_item("#") Something else here
            +nav_divider
            +nav_item("#") Separated link
            +nav_item("#") One more separated link
    .container
        +a-btn-primary("/admin/villages/new") Add new village
        script.
            function deleteMe (id) {
                var url = '/admin/villages/' + id;
                $.ajax({
                    type: "DELETE",
                    url: url,
                    data: id
                });
            }
        for item in villageList
            .jumbotron
                p= item.name
                p= item.summary_text
                a.btn(class="btn-danger",role="button",onclick="deleteMe('"+ item._id +"');") Delete
