extends _bootstrap
append styles
    // Custom styles for this template
    link(href='/css/navbar-static-top.css', rel='stylesheet')

block body
    // Static navbar
    +navbar-static("Project Wantok","navbar")
        +nav_item("/","active") Home
        +nav_item("/") Tourist
        +nav_item("/carrier") Carrier
        +nav_item_dropdown("#")(label="Dropdown")
            +nav_item("/admin/villages") Admin
    .container
        +a-btn-primary("/admin/villages/new") Add new village
        script.
            function deleteMe (id) {
                var url = '/admin/villages/' + id;
                $.ajax({
                    type: "DELETE",
                    url: url,
                    data: id
                });
            }
        for item in villageList
            .jumbotron
                p= item.name
                p= item.summary_text
                a.btn.btn-primary(href='/admin/villages/add_vr/' + item._id, role='button') Add VR »
                a.btn(class="btn-info",href='/admin/villages/brand_making/' + item._id, role='button') Brand Making »
                a.btn(class="btn-danger",role="button",onclick="deleteMe('"+ item._id +"');") Delete
