extends _bootstrap
append styles
    // Custom styles for this template
    link(href='../../css/navbar-static-top.css', rel='stylesheet')
block body
    // Static navbar
    +navbar-static("Project Wantok","navbar")
        +nav_item("https://localhost:3000","active") Home
        +nav_item("https://localhost:3000") Tourist
        +nav_item("https://localhost:3000/carrier") Carrier
        +nav_item_dropdown("#")(label="Dropdown")
            +nav_item("https://localhost:3000/admin/villages") Admin
    .container
        form(action = "/admin/villages/new", method = "POST")
            +input("text","villageName","Village name here","Village name","villageName")
            +input("text","villageDes","Village description here","Village description","villageDes")
            +input("text","villageLat","Village latitude here (number only)","Village latitude","villageLat", "any")
            +input("text","villageLong","Village longitude here (number only)","Village longitude","villageLong", "any")
            +input("text","villageBrand", "Village Brand Image","Village Brand Image","villageBrand")
            +submit("Add")
