extends _bootstrap
append styles
    // Custom styles for this template
    link(href='/css/navbar-static-top.css', rel='stylesheet')
block body
    // Static navbar
    +navbar-static("Project Wantok","navbar")
        +nav_item("","active") Home
        +nav_item("") Tourist
        +nav_item("/carrier") Carrier
        +nav_item_dropdown("#")(label="Dropdown")
            +nav_item("/admin/villages") Admin
    .container
        form(action = "/admin/villages/new", method = "POST")
            +input("text","villageName","Community name here","Community name","villageName")
            +input("text","villageDes","Community description here","Community description","villageDes")
            +input("text","villageLat","Community latitude here (number only)","Community latitude","villageLat", "any")
            +input("text","villageLong","Community longitude here (number only)","Community longitude","villageLong", "any")
            //+input("text","villageBrand", "Village Brand Image","Village Brand Image","villageBrand")
            +submit("Add")
